@page
@model WebApplication1.Pages.Sessions.IndexModel

@{
    ViewData["Title"] = "Index";
    @functions{
        public void OnPost()
        {
            Response.Redirect("Drivers");
        }
    }
}

<h1>Index</h1>


@foreach (var item in Model.SessionDb)
{
    
    <div class="item-block">
        <a asp-page="./Details" asp-route-id="@item.id" style="color: #3b3a3a; text-decoration: none; height: 100%; width:100%">
            <div style="display: flex; padding: 10px">
                
                <div style="padding: 10px">
                    <div style="font-size: 150%;">

                        @Html.DisplayFor(modelItem => item.country_name)
                    </div>

                    <div>
                        @Html.DisplayFor(modelItem => item.circuit_short_name)

                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.date_start.Year)

                    </div>
                </div>
            </div>
        </a>
    </div>
    
}
